.u-section-1 .u-sheet-1 {
  min-height: 641px;
}

.u-section-1 .u-image-1 {
  width: 1162px;
  height: 534px;
  margin: 42px -11px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 432px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 331px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 248px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 263px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 156px;
  }
}