.u-section-1 .u-sheet-1 {
  min-height: 1363px;
}

.u-section-1 .u-list-1 {
  margin: 133px auto 0 -22px;
}

.u-section-1 .u-repeater-1 {
  min-height: 2740px;
  grid-template-columns: calc(33.3333% - 28.6667px) calc(33.3333% - 28.6667px) calc(33.3333% - 28.6667px);
  grid-gap: 43px 43px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-rotation-parent-1 {
  width: 382px;
  height: 501px;
  margin: 3px 0 0;
}

.u-section-1 .u-shape-1 {
  width: 501px;
  height: 382px;
  box-shadow: 6px -10px 35px 7px rgba(128,128,128,1);
  background-image: none;
}

.u-section-1 .u-image-1 {
  height: 215px;
  width: 381px;
  margin: -501px -23px 0 auto;
}

.u-section-1 .u-line-1 {
  width: 382px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 13px auto 0 12px;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 0 auto 0 12px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 102px 0 0 200px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-rotation-parent-2 {
  width: 382px;
  height: 501px;
  margin: 3px 0 0;
}

.u-section-1 .u-shape-2 {
  width: 501px;
  height: 382px;
  box-shadow: 0px 10px 22px 13px rgba(128,128,128,0.85);
  background-image: none;
}

.u-section-1 .u-image-2 {
  height: 215px;
  width: 381px;
  margin: -501px -23px 0 auto;
}

.u-section-1 .u-line-2 {
  width: 382px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 13px auto 0 12px;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 0 auto 0 12px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 102px -18px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-rotation-parent-3 {
  width: 382px;
  height: 501px;
  margin: 3px 0 0;
}

.u-section-1 .u-shape-3 {
  width: 501px;
  height: 382px;
  box-shadow: -7px 5px 10px 2px rgba(128,128,128,1);
  background-image: none;
}

.u-section-1 .u-image-3 {
  height: 215px;
  width: 381px;
  margin: -501px -23px 0 auto;
}

.u-section-1 .u-line-3 {
  width: 382px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 13px auto 0 12px;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 0 auto 0 12px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 102px -18px 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-rotation-parent-4 {
  width: 382px;
  height: 501px;
  margin: 3px 0 0;
}

.u-section-1 .u-shape-4 {
  width: 501px;
  height: 382px;
  box-shadow: 8px 10px 22px 0px rgba(128,128,128,0.8);
  background-image: none;
}

.u-section-1 .u-image-4 {
  height: 215px;
  width: 381px;
  margin: -501px -23px 0 auto;
}

.u-section-1 .u-line-4 {
  width: 382px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 13px auto 0 12px;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  margin: 0 auto 0 12px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 102px -18px 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-rotation-parent-5 {
  width: 382px;
  height: 501px;
  margin: 3px 0 0;
}

.u-section-1 .u-shape-5 {
  width: 501px;
  height: 382px;
  box-shadow: 8px 10px 22px 0px rgba(128,128,128,0.8);
  background-image: none;
}

.u-section-1 .u-image-5 {
  height: 215px;
  width: 381px;
  margin: -501px -23px 0 auto;
}

.u-section-1 .u-line-5 {
  width: 382px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 13px auto 0 12px;
}

.u-section-1 .u-text-10 {
  font-style: italic;
  margin: 0 auto 0 12px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 102px -18px 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-rotation-parent-6 {
  width: 382px;
  height: 501px;
  margin: 3px 0 0;
}

.u-section-1 .u-shape-6 {
  width: 501px;
  height: 382px;
  box-shadow: 8px 10px 22px 0px rgba(128,128,128,0.8);
  background-image: none;
}

.u-section-1 .u-image-6 {
  height: 215px;
  width: 381px;
  margin: -501px -23px 0 auto;
}

.u-section-1 .u-line-6 {
  width: 382px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 13px auto 0 12px;
}

.u-section-1 .u-text-12 {
  font-style: italic;
  margin: 0 auto 0 12px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 102px -18px 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-rotation-parent-7 {
  width: 382px;
  height: 501px;
  margin: 3px 0 0;
}

.u-section-1 .u-shape-7 {
  width: 501px;
  height: 382px;
  box-shadow: 8px 10px 22px 0px rgba(128,128,128,0.8);
  background-image: none;
}

.u-section-1 .u-image-7 {
  height: 215px;
  width: 381px;
  margin: -501px -23px 0 auto;
}

.u-section-1 .u-line-7 {
  width: 382px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 13px auto 0 12px;
}

.u-section-1 .u-text-14 {
  font-style: italic;
  margin: 0 auto 0 12px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 102px -18px 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-rotation-parent-8 {
  width: 382px;
  height: 501px;
  margin: 3px 0 0;
}

.u-section-1 .u-shape-8 {
  width: 501px;
  height: 382px;
  box-shadow: 8px 10px 22px 0px rgba(128,128,128,0.8);
  background-image: none;
}

.u-section-1 .u-image-8 {
  height: 215px;
  width: 381px;
  margin: -501px -23px 0 auto;
}

.u-section-1 .u-line-8 {
  width: 382px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 0;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 13px auto 0 12px;
}

.u-section-1 .u-text-16 {
  font-style: italic;
  margin: 0 auto 0 12px;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 102px -18px 0 auto;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-rotation-parent-9 {
  width: 382px;
  height: 501px;
  margin: 3px 0 0;
}

.u-section-1 .u-shape-9 {
  width: 501px;
  height: 382px;
  box-shadow: 8px 10px 22px 0px rgba(128,128,128,0.8);
  background-image: none;
}

.u-section-1 .u-image-9 {
  height: 215px;
  width: 381px;
  margin: -501px -23px 0 auto;
}

.u-section-1 .u-line-9 {
  width: 382px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 0;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 13px auto 0 12px;
}

.u-section-1 .u-text-18 {
  font-style: italic;
  margin: 0 auto 0 12px;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 102px -18px 0 auto;
}

.u-section-1 .u-container-layout-10 {
  padding: 0;
}

.u-section-1 .u-rotation-parent-10 {
  width: 382px;
  height: 501px;
  margin: 3px 0 0;
}

.u-section-1 .u-shape-10 {
  width: 501px;
  height: 382px;
  box-shadow: 8px 10px 22px 0px rgba(128,128,128,0.8);
  background-image: none;
}

.u-section-1 .u-image-10 {
  height: 215px;
  width: 381px;
  margin: -501px -23px 0 auto;
}

.u-section-1 .u-line-10 {
  width: 382px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 0;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 13px auto 0 12px;
}

.u-section-1 .u-text-20 {
  font-style: italic;
  margin: 0 auto 0 12px;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 102px -18px 0 auto;
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-rotation-parent-11 {
  width: 382px;
  height: 501px;
  margin: 3px 0 0;
}

.u-section-1 .u-shape-11 {
  width: 501px;
  height: 382px;
  box-shadow: 8px 10px 22px 0px rgba(128,128,128,0.8);
  background-image: none;
}

.u-section-1 .u-image-11 {
  height: 215px;
  width: 381px;
  margin: -501px -23px 0 auto;
}

.u-section-1 .u-line-11 {
  width: 382px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 0;
}

.u-section-1 .u-text-21 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 13px auto 0 12px;
}

.u-section-1 .u-text-22 {
  font-style: italic;
  margin: 0 auto 0 12px;
}

.u-section-1 .u-btn-11 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 102px -18px 0 auto;
}

.u-section-1 .u-container-layout-12 {
  padding: 0;
}

.u-section-1 .u-rotation-parent-12 {
  width: 382px;
  height: 501px;
  margin: 3px 0 0;
}

.u-section-1 .u-shape-12 {
  width: 501px;
  height: 382px;
  box-shadow: 8px 10px 22px 0px rgba(128,128,128,0.8);
  background-image: none;
}

.u-section-1 .u-image-12 {
  height: 215px;
  width: 381px;
  margin: -501px -23px 0 auto;
}

.u-section-1 .u-line-12 {
  width: 382px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 0;
}

.u-section-1 .u-text-23 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 13px auto 0 12px;
}

.u-section-1 .u-text-24 {
  font-style: italic;
  margin: 0 auto 0 12px;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 102px -18px 0 auto;
}

.u-section-1 .u-container-layout-13 {
  padding: 0;
}

.u-section-1 .u-rotation-parent-13 {
  width: 382px;
  height: 501px;
  margin: 3px 0 0;
}

.u-section-1 .u-shape-13 {
  width: 501px;
  height: 382px;
  box-shadow: 8px 10px 22px 0px rgba(128,128,128,0.8);
  background-image: none;
}

.u-section-1 .u-image-13 {
  height: 215px;
  width: 381px;
  margin: -501px -23px 0 auto;
}

.u-section-1 .u-line-13 {
  width: 382px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 0;
}

.u-section-1 .u-text-25 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 13px auto 0 12px;
}

.u-section-1 .u-text-26 {
  font-style: italic;
  margin: 0 auto 0 12px;
}

.u-section-1 .u-btn-13 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 102px -18px 0 auto;
}

.u-section-1 .u-container-layout-14 {
  padding: 0;
}

.u-section-1 .u-rotation-parent-14 {
  width: 382px;
  height: 501px;
  margin: 3px 0 0;
}

.u-section-1 .u-shape-14 {
  width: 501px;
  height: 382px;
  box-shadow: 8px 10px 22px 0px rgba(128,128,128,0.8);
  background-image: none;
}

.u-section-1 .u-image-14 {
  height: 215px;
  width: 381px;
  margin: -501px -23px 0 auto;
}

.u-section-1 .u-line-14 {
  width: 382px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 0;
}

.u-section-1 .u-text-27 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 13px auto 0 12px;
}

.u-section-1 .u-text-28 {
  font-style: italic;
  margin: 0 auto 0 12px;
}

.u-section-1 .u-btn-14 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 102px -18px 0 auto;
}

.u-section-1 .u-container-layout-15 {
  padding: 0;
}

.u-section-1 .u-rotation-parent-15 {
  width: 382px;
  height: 501px;
  margin: 3px 0 0;
}

.u-section-1 .u-shape-15 {
  width: 501px;
  height: 382px;
  box-shadow: 8px 10px 22px 0px rgba(128,128,128,0.8);
  background-image: none;
}

.u-section-1 .u-image-15 {
  height: 215px;
  width: 381px;
  margin: -501px -23px 0 auto;
}

.u-section-1 .u-line-15 {
  width: 382px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 0;
}

.u-section-1 .u-text-29 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 13px auto 0 12px;
}

.u-section-1 .u-text-30 {
  font-style: italic;
  margin: 0 auto 0 12px;
}

.u-section-1 .u-btn-15 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 102px -18px 0 auto;
}

.u-section-1 .u-btn-16 {
  border-style: none;
  margin: 64px 378px 0 auto;
  padding: 8px 28px 8px 27px;
}

.u-section-1 .u-icon-1 {
  width: 39px;
  height: 39px;
}

.u-section-1 .u-btn-17 {
  border-style: none;
  margin: -41px auto 60px 380px;
  padding: 8px 28px 8px 27px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 40px) calc(33.3333% - 40px) calc(33.3333% - 40px);
    min-height: 2217px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-12 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-13 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-14 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-15 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-16 {
    margin-right: 178px;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 180px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 30px) calc(50% - 30px);
    min-height: 4076px;
  }

  .u-section-1 .u-btn-16 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-rotation-parent-1 {
    width: 340px;
    height: 404px;
  }

  .u-section-1 .u-shape-1 {
    width: 446px;
    height: 340px;
  }

  .u-section-1 .u-image-1 {
    height: 192px;
    margin-top: -404px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-rotation-parent-2 {
    width: 340px;
    height: 404px;
  }

  .u-section-1 .u-shape-2 {
    width: 446px;
    height: 340px;
  }

  .u-section-1 .u-image-2 {
    height: 192px;
    margin-top: -404px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
  }

  .u-section-1 .u-rotation-parent-3 {
    width: 340px;
    height: 404px;
  }

  .u-section-1 .u-shape-3 {
    width: 446px;
    height: 340px;
  }

  .u-section-1 .u-image-3 {
    height: 192px;
    margin-top: -404px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-line-3 {
    width: 340px;
  }

  .u-section-1 .u-rotation-parent-4 {
    width: 340px;
    height: 404px;
  }

  .u-section-1 .u-shape-4 {
    width: 446px;
    height: 340px;
  }

  .u-section-1 .u-image-4 {
    height: 192px;
    margin-top: -404px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-line-4 {
    width: 340px;
  }

  .u-section-1 .u-rotation-parent-5 {
    width: 340px;
    height: 404px;
  }

  .u-section-1 .u-shape-5 {
    width: 446px;
    height: 340px;
  }

  .u-section-1 .u-image-5 {
    height: 192px;
    margin-top: -404px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-line-5 {
    width: 340px;
  }

  .u-section-1 .u-rotation-parent-6 {
    width: 340px;
    height: 404px;
  }

  .u-section-1 .u-shape-6 {
    width: 446px;
    height: 340px;
  }

  .u-section-1 .u-image-6 {
    height: 192px;
    margin-top: -404px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-line-6 {
    width: 340px;
  }

  .u-section-1 .u-rotation-parent-7 {
    width: 340px;
    height: 404px;
  }

  .u-section-1 .u-shape-7 {
    width: 446px;
    height: 340px;
  }

  .u-section-1 .u-image-7 {
    height: 192px;
    margin-top: -404px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-line-7 {
    width: 340px;
  }

  .u-section-1 .u-rotation-parent-8 {
    width: 340px;
    height: 404px;
  }

  .u-section-1 .u-shape-8 {
    width: 446px;
    height: 340px;
  }

  .u-section-1 .u-image-8 {
    height: 192px;
    margin-top: -404px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-line-8 {
    width: 340px;
  }

  .u-section-1 .u-rotation-parent-9 {
    width: 340px;
    height: 404px;
  }

  .u-section-1 .u-shape-9 {
    width: 446px;
    height: 340px;
  }

  .u-section-1 .u-image-9 {
    height: 192px;
    margin-top: -404px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-line-9 {
    width: 340px;
  }

  .u-section-1 .u-rotation-parent-10 {
    width: 340px;
    height: 404px;
  }

  .u-section-1 .u-shape-10 {
    width: 446px;
    height: 340px;
  }

  .u-section-1 .u-image-10 {
    height: 192px;
    margin-top: -404px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-line-10 {
    width: 340px;
  }

  .u-section-1 .u-rotation-parent-11 {
    width: 340px;
    height: 404px;
  }

  .u-section-1 .u-shape-11 {
    width: 446px;
    height: 340px;
  }

  .u-section-1 .u-image-11 {
    height: 192px;
    margin-top: -404px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-line-11 {
    width: 340px;
  }

  .u-section-1 .u-rotation-parent-12 {
    width: 340px;
    height: 404px;
  }

  .u-section-1 .u-shape-12 {
    width: 446px;
    height: 340px;
  }

  .u-section-1 .u-image-12 {
    height: 192px;
    margin-top: -404px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-line-12 {
    width: 340px;
  }

  .u-section-1 .u-rotation-parent-13 {
    width: 340px;
    height: 404px;
  }

  .u-section-1 .u-shape-13 {
    width: 446px;
    height: 340px;
  }

  .u-section-1 .u-image-13 {
    height: 192px;
    margin-top: -404px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-line-13 {
    width: 340px;
  }

  .u-section-1 .u-rotation-parent-14 {
    width: 340px;
    height: 404px;
  }

  .u-section-1 .u-shape-14 {
    width: 446px;
    height: 340px;
  }

  .u-section-1 .u-image-14 {
    height: 192px;
    margin-top: -404px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-line-14 {
    width: 340px;
  }

  .u-section-1 .u-rotation-parent-15 {
    width: 340px;
    height: 404px;
  }

  .u-section-1 .u-shape-15 {
    width: 446px;
    height: 340px;
  }

  .u-section-1 .u-image-15 {
    height: 192px;
    margin-top: -404px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-line-15 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}